
body>div:nth-child(1)
{
    height: 400px;
    width: 700px;
    background-color: rgb(134, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
}
div>div:nth-child(1)
{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
div>div:nth-child(2)
{
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}