*{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        body{
            font-family: Arial, sans-serif;
        }

        .container{
            width:90%;
            margin:20px auto;
            border:3px solid black;
            padding:15px;
            
        }

        /* Navbar */
        .navbar{
            display:flex;
            justify-content:space-around;
            border:2px solid black;
            padding:15px 0;
            font-weight:bold;
            background-color: lightseagreen;
        }

        /* Banner */
        .banner{
            width:100%;
            height:900px;
            border:2px solid black;
            margin-top:20px;
            background-image:url("./Gemini_Generated_Image_kuoaljkuoaljkuoa.png"); /* Add your banner image */
            background-size:cover;
            background-position:center;
        }

        /* Image Section */
        .image-section{
            display:flex;
            justify-content:space-around;
            border:2px solid black;
            margin-top:20px;
            padding:20px;
        }

        .img-box{
            width:150px;
            height:150px;
            border:2px solid black;
            overflow:hidden;
        }

        .img-box img{
            width:100%;
            height:100%;
            object-fit:cover;
        }

        /* Name Section */
        .name-section{
            display:flex;
            justify-content:space-around;
            border:2px solid black;
            margin-top:20px;
            padding:20px;
        }

        .name-box{
            width:150px;
            height:80px;
            border:2px solid black;
            display:flex;
            justify-content:center;
            align-items:center;
            font-weight:bold;
            background-color: darkseagreen;
        }

        /* Empty Section */
        .empty-section{
            height: 100px;
            border:2px solid black;
            margin-top:20px;
            background-color: cadetblue;
        }