table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
